<header class="header-basic">
    <div class="firstRow">
        <div id="left-column">
            <p>Welcome to UniverseGame online eCommerce store. </p>
        </div>

        <div id="right-column">
            <p style="padding-right: 5px">Follow us on:</p>
            <button class="btn rounded-0 border-0" aria-label="Twitter">
                <i class="bi bi-twitter" style="height: 16px;"></i>
            </button>

            <button class="btn rounded-0 border-0" aria-label="Facebook">
                <i class="bi bi-facebook" style="height: 16px;"></i>
            </button>

            <button class="btn rounded-0 border-0" aria-label="YouTube">
                <i class="bi bi-youtube" style="height: 16px;"></i>
            </button>

            <button class="btn rounded-0 border-0" style="border-right: 10px;" aria-label="Instagram">
                <i class="bi bi-instagram" style="height: 16px"></i>
            </button>

            <div class="vertical-line"></div>

            <select class="form-select" id="lang" style="margin-right: 10px;" aria-label="Disabled select example">
                <option value="1" class="headerSelectOptions">ENG</option>
                <option value="2" class="headerSelectOptions">SPA</option>
            </select>


            <select class="form-select" id="coin" aria-label="Disabled select example">
                <option value="1" class="headerSelectOptions">COP</option>
                <option value="2" class="headerSelectOptions">USD</option>
                <option value="2" class="headerSelectOptions">EUR</option>
            </select>
        </div>
    </div>

    <div class="horizontal-line"></div>

    <div class="secondRow">
        <div id="left-column-2r" (click)="goHome()" style="cursor: pointer;">
            <img src="assets/TemporalIcon.png" alt="Temporal Icon" width="48px">
            <h4>UNIVERSEGAME</h4>
        </div>

        <div id="buscador">
            <div class="input-group">
                <input type="search" id="barraBusqueda" [(ngModel)]="stringProduct" (keydown)="onKeydown($event)"
                    class="form-control" placeholder="Search for anything..." aria-label="Search"
                    aria-describedby="search-addon" />
                <button (click)="onSearch()" type="button" class="btn" data-mdb-ripple-init>
                    <i class="bi bi-search icon-large"></i>
                </button>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg" style="margin-right: 25px; width: fit-content;">
            <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" style="border-color: white;"
              aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" style="color: white;"></span>
            </button>
          
            <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-center" id="navbarToggler">
              <ul class="navbar-nav justify-content-center" style="width: fit-content;">

                <li class="nav-item d-flex">
                  <button class="btn nav-link" (click)="goLogin()" aria-label="person">
                    <i class="bi bi-person icon-large"></i>
                  </button>
                </li>

                <li class="nav-item">
                  <button class="btn nav-link" (click)="goShoppingCart()" aria-label="cart">
                    <i class="bi bi-cart icon-large"></i>
                  </button>
                </li>

                <li class="nav-item">
                  <button class="btn nav-link" (click)="goOrderHistory()" aria-label="truck">
                    <i class="bi bi-truck icon-large"></i>
                  </button>
                </li>
                
                <li *ngIf="admin.tipo === 2" class="nav-item">
                  <button class="btn nav-link" (click)="goInventory()" aria-label="inventory">
                    <i class="bi bi-shop icon-large"></i> 
                  </button>
                </li>
              </ul>
            </div>
        </nav>          
    </div>
</header>