form i {
    margin-left: -30px;
    cursor: pointer;
    color: #FA8232;
    font-size: 20px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #FA8232; 
}

.btn {
    background-color: #FA8232;
    font-weight: 500;
    font-size: 18px;
    height: fit-content;
    border: 0px;
    border-radius: 0px;
}

.otherButton {
    background-color: white;
    color: rgba(138, 129, 129, 0.849);
    border: 1px solid rgb(214, 212, 212);
}

.otherButton > i {
    align-self:flex-start;
}