<div id="container" style="margin-top: 25px; margin-left: 15px; margin-right: 15px;">
    <p style="font-size: 20; font-weight: 500;">ORDER HISTORY</p>

    <div style="width: 100%; border-bottom: 1px solid rgb(214, 212, 212); margin-bottom: 5px;"></div>

    <div class="row align-items-center">
        <div class="col-md-6">
            <p>Sort by date:</p>
            <select class="form-select" [(ngModel)]="sortDate"
                (change)="onDateChange($event)" aria-label="Date sort select" id="selectDateOrderHistory">
                <option value="1" >Newest</option>
                <option value="2" >Oldest</option>
            </select>
        </div>
        <div class="col-md-6">
            <p>Sort by total:</p>
            <select class="form-select" [(ngModel)]="sortTotal"
            (change)="onTotalChange($event)" aria-label="Total sort select" id="selectTotalOrderHistory">
                <option value="1" >High to low</option>
                <option value="2" >Low to high</option>
            </select>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ORDER ID</th>
                <th scope="col">STATUS</th>
                <th scope="col">DATE</th>
                <th scope="col">TOTAL</th>
                <th scope="col">DETAILS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of paginatedOrders">
                <td scope="row" style="font-weight: 500;">{{ order.id }}</td>
                <td><p style="color: #2DB224;">DELIVERED</p></td>
                <td>{{ order.fecha }}</td>
                <td>
                    COP ${{ getTotal(order) }} ({{ order.cantidadProductos }} {{ order.cantidadProductos === 1 ? 'Product' : 'Products' }})
                </td>
                <td><a>View Details <i class="bi bi-arrow-right"></i></a></td>
            </tr>
            <tr *ngIf="orders.length === 0">
                <td colspan="6" style="text-align: center">No orders found</td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination class="d-flex justify-content-center paginator" [(page)]="currentPage" [pageSize]="itemsPerPage"
        [collectionSize]="orders.length" (pageChange)="onPageChange($event)" aria-label="Default pagination">
    </ngb-pagination>
</div>