<div id="content">
    <div id="header">
        <app-header></app-header>
    </div>

    <div id="page-menu" style="">
        <div class="d-flex col-4" style="height: fit-content; width: fit-content;" >
            <div class="nav flex-column nav-pills me-3" style="margin: 25px" role="tablist" aria-orientation="vertical">
                <a class="w-100 nav-item nav-link" routerLink="inventory" routerLinkActive="active" style="flex: 1">
                    <i class="bi bi-box-seam icon-large"></i>
                    Inventory
                </a>
                <a class="w-100 nav-item nav-link" routerLink="indReport" routerLinkActive="active" style="flex: 1">
                    <i class="bi bi-shop icon-large"></i>
                    Individual Report
                </a>
                <a class="w-100 nav-item nav-link" routerLink="jointReport" routerLinkActive="active" style="flex: 1">
                    <i class="bi bi-building icon-large"></i>
                    Joint Report
                </a>
                <a class="w-100 nav-item nav-link" style="flex: 1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.5" height="19" fill="currentColor"
                        class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                        <path fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                    Log-out
                </a>
            </div>
        </div>
        <div class="col-8 page-content" style="margin-bottom: 25px;">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div id="footer">
        <app-footer></app-footer>
    </div>
</div>