<div class="d-flex" id="container" style="margin-top: 25px; min-width: 750px;">
    <div class="col-14" style="border-bottom: 0px;">                
        <p>SHOPPING CART</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">PRODUCTS</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">TAX</th>
                    <th scope="col">$ AFTER TAXES</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col">SUB-TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of detalleCarrito">
                    <td style="display: flex; align-items: center;">
                        <button (click)="eliminarDetalle(detalle.id)"> <i class="bi bi-x-circle"></i></button>
                        <div style="height: 75px; justify-content: center; display: flex;">
                            <img src="{{detalle.producto.imagen}}" alt="product.img" style="width: 75px; margin-right: 10px; object-fit: contain;">
                        </div>
                        <span>{{ detalle.producto.nombre }}</span>
                    </td>
                    <td>COP ${{ redondearPrecio(detalle.producto) }}</td>
                    <td><b style="font-weight: 500;">{{ getImpuesto(detalle.producto)}}%</b></td>
                    <td>COP ${{ getPrecioImpuesto(detalle.producto)}}</td>
                    <td>
                        <div class="quantity d-flex" >
                            <button (click)="disminuirCantidad(detalle)" style="margin-right: 5px;">—</button>
                            <p>x{{detalle.cantidad}}</p>
                            <button (click)="aumentarCantidad(detalle)" style="margin-left: 5px;">+</button>
                        </div>
                    </td>
                    <td>COP ${{ getStringSubTotalProducto(detalle)}}</td>
                </tr>
                <tr *ngIf="detalleCarrito.length === 0">
                    <td colspan="6" style="text-align: center">No products found</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="subtotal">
        <p style="font-size: 18px; font-weight: 500; margin: 5px; text-align: center;"> Cart Summary</p>
        <div style="width: 100%; border-bottom: 1px solid rgb(214, 212, 212); margin-bottom: 5px;"></div>
        <p><b style="font-weight: 500;">Sub-Total: </b>COP ${{getSubTotal()}}</p>
        <p><b style="font-weight: 500;">Shipping: </b> Free </p>
        <p><b style="font-weight: 500;">Discount: </b> COP $0</p>
        <div style="width: 100%; border-bottom: 1px solid rgb(214, 212, 212); margin-bottom: 5px;"></div>
        <p> <b style="font-weight: 500;">Total: COP ${{getSubTotal()}}</b></p>
        <div class="d-flex justify-content-center">
            <button (click)="goCheckout()">PROCEED TO CHECKOUT <i class="bi bi-arrow-right"></i></button>
        </div>
    </div>
</div>