#container {
    margin-top: 25px;
    margin-left: 15px;
    /*border: 1px solid rgb(214, 212, 212);
    box-shadow: 5px 5px 5px rgb(214, 212, 212);*/
}

.col-9 {
    border: 1px solid rgb(214, 212, 212);
    margin-right: 25px;
    margin-bottom: 15px;
    overflow-x: auto;
}

.col-9 > p {
    margin: 5px;
    padding: 0px;
    font-weight: 500;
}

.col-4 {
    border: 1px solid rgb(214, 212, 212); 
    margin-right: 25px; 
    width: fit-content;
    height: fit-content;
}

.col-4 > p {
    margin: 5px;
    padding: 0px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.d-flex > button {
    border: 1px solid #FA8232;
    background-color: #FA8232;
    color: white;
    margin-bottom: 5px;
    font-weight: 500;
}

.d-flex > button:hover {
    background-color: #1B6392;
    border: 1px solid #1B6392;
}

.col-md-6 {
    margin-left: 5px; 
    margin-bottom: 10px; 
    width: fit-content;
}

.col-md-6 > p{
    width: fit-content;
    margin-left: 5px;
    display: inline;
    padding-right: 10px;
}

.table {
    border-top: 1px solid rgb(214, 212, 212);
    margin-bottom: 0px;
    text-align: center;
}

@media (max-width:1260px) {
    #container {
        align-items: center;
        flex-direction: column;
    }

    #page-content {
        width: 98vw;
    }
}