html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;     
    overflow-x: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#page-content {
    flex: 1;    
    display: flex;
    justify-content: center;           
}

.card {
    width: 600px;
    height: fit-content;
    align-self: top;
    justify-content: center;
}

.nav-link.active {
    color: #FA8232;
    font-weight: 500;
}

#tabLeft {
    border-left: 0px;
    border-top: 0px;
}

#tabRight {
    border-right: 0px;
    border-top: 0px;
}

.nav-link {
    color: black;
    font-size: 20px;
    text-align: center;
}
