#container {
    margin-top: 25px;
    margin-left: 15px;
    border: 1px solid rgb(214, 212, 212);
    box-shadow: 5px 5px 5px rgb(214, 212, 212);
}

#container > p {
    margin: 5px;
}

.col-md-6 > p{
    width: fit-content;
    margin-left: 5px;
}

.input-group {
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-control {
    display: block;
    width: 200px;
    margin: 0px;
    margin-left: 5px;
    padding: 2.5px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #FA8232; 
}

.input-group > .btn{
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgb(214, 212, 212);
    border-color: rgb(214, 212, 212);
    color: black;
}

.input-group >.btn:hover {
    background-color: #FA8232;
    border-color: #FA8232;
    color: white;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
    border-color: #FA8232; 
}

.table {
    border-top: 1px solid rgb(214, 212, 212);
    text-align: center;
}