<div id="footer-content">
    <div id="column-1">
        <div id="icon">
            <img src="assets/TemporalIconFooter.png" alt="TemporalIconFooter" width="30px" style="display: inline;">
            <h5 style="display: inline; color: white;">UniverseGame</h5>
        </div>
        <p style="color: #77878F; margin-bottom: 0px; font-size: 12px;">Customer Supports</p>
        <p style="color: white; font-size: 16px; margin-bottom: 5px">(629) 555-0129</p>
        <p style="color: #77878F; margin-bottom: 5px; font-size: 12px; width: 200px;">4517 Washington Ave. Manchester, Kentucky 39495</p>
        <p style="color: white; margin-bottom: 5px; font-size: 14px;">universegame&#64;contactme.com</p>
    </div>

    <div id="column-2">
        <p style="color: white; margin-bottom: 5px; font-size: 14px;">ALL CATEGORIES </p>
        <a (click)="onSearch(2)">Consoles</a>
        <a (click)="onSearch(3)">Games</a>
        <a (click)="onSearch(4)">Controllers</a>
        <a (click)="onSearch(5)">Accesories</a>
        <a (click)="onSearch(6)">Recorders</a>
        <a (click)="onSearch(7)">TV's & Monitors</a>
        
    </div>

    <div id="column-3">
        <p style="color: white; margin-bottom: 5px; font-size: 14px;">QUICK LINKS</p>
        <a href="/account/profile">Profile</a>
        <a href="/account/shoppingCart">Shopping Cart</a>
        <a href="/account/orderHistory">Order History</a>
        <a href="/search?q=&c=1">Shop Product</a>
    </div>

    <div id="column-4">
        <p style="color: white; margin-bottom: 5px; font-size: 14px;">DOWNLOAD APP</p>
        <button class="icon-text-button">
            <span class="icon-left">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-google-play" viewBox="0 0 16 16">
                    <path d="M14.222 9.374c1.037-.61 1.037-2.137 0-2.748L11.528 5.04 8.32 8l3.207 2.96zm-3.595 2.116L7.583 8.68 1.03 14.73c.201 1.029 1.36 1.61 2.303 1.055zM1 13.396V2.603L6.846 8zM1.03 1.27l6.553 6.05 3.044-2.81L3.333.215C2.39-.341 1.231.24 1.03 1.27"/>
                </svg>
            </span>
            <span class="text-right">
              <p style="font-size: 11px; height: 20px;  box-sizing: border-box;">Get it now</p>
              <b style="font-size: 13px;">Google Play</b>
            </span>
        </button>
        <br>

        <button class="icon-text-button">
            <span class="icon-left">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-apple" viewBox="0 0 16 16">
                    <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"/>
                    <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"/>
                  </svg>
            </span>
            <span class="text-right">
              <p style="font-size: 11px; height: 20px;">Get it now</p>
              <b style="font-size: 13px;">App Store</b>
            </span>
        </button>
    </div>

    <div id="column-5">
        <p style="color: white; margin-bottom: 5px; font-size: 14px;">POPULAR TAGS</p>
        <button class="popular-tag">Xbox</button>
        <button class="popular-tag">Sony</button>
        <button class="popular-tag">El gato</button>
        <button class="popular-tag">Nintendo</button>
        <button class="popular-tag">Samsung</button>
        <button class="popular-tag">LG</button>
        <button class="popular-tag">Legend of Zelda</button>
        <button class="popular-tag">Pokemon</button>
        <button class="popular-tag">Sonic</button>
        <button class="popular-tag">GTA</button>
        <button class="popular-tag">Persona</button>
    </div>
</div>
